<div class="owner-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>
                    <h2>Ownership</h2>
                </mat-card-title>

            </mat-card-title-group>

        </mat-card-header>

        <mat-card-content>
            <div style="padding: 10px; color: #555; font-size: 15px;">
                Owner: 0x340987340897348384976098437
                <span class="right">Tokens: 10000000 CIX</span>
            </div>
            <form class="gateway-form">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Destination Address" value="">
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="accent">Transfer Ownership</button>
            <button mat-button color="primary">Claim Ownership</button>
        </mat-card-actions>
    </mat-card>
</div>