.gateway-container {
    width: 350px;
}

.full-width {
    width: 100%;
}

.info-container {
    color: #666;
}

p {
    color: #999;
}

p span {
    // font-weight: bolder;
    color: #555;
    font-size: 14px;
}